# Compiled object files
*.o

# Executables
Explicit_Barrier/TestRepeat
Explicit_Barrier/BenchmarkIntraSM
Explicit_Barrier/BenchmarkInterSM
Implicit_Barrier/ImplicitBarrier
Implicit_Barrier/CudaGraph/bench_stream_capture
Implicit_Barrier/CudaGraph/bench_while_conditional
Implicit_Barrier/CudaGraph/bench_child_graph
Reduction/greduce

# Editor and IDE files
*.swp
*.swo
*~
.vscode/
.idea/

# Build directories
build/
